project:
  type: website
  output-dir: docs
  render:
    - "about.qmd"
    - "math_notes/*"
  preview:
    port: 4200

website:
  title: "Jake Notes"
  open-graph: true

  sidebar:
    style: "docked"
    search: true

    tools:
      - icon: github
        href: https://github.com/JakeRobertBaker
        aria-label: GitHub

      - icon: linkedin
        href: https://www.linkedin.com/in/jake-robert-baker/
        aria-label: LinkedIn

    contents:
      - text: "About"
        href: about.qmd
      - section: "Mathematics and Theory"
        contents:
          - section: "Probability and Statistics"
            contents:
              - text: OLS and ANOVA
                href: math_notes/linear_models/linear_models.qmd
              - text: Ballot Analysis
                href: math_notes/bayesian_inference/ballot_notes.qmd

          - section: "Set Theory"
            contents:
              - text: "Universal Algebra"
                href: math_notes/set_theory/universal_algebra.qmd

      - section: "Deep Learning"
        contents:
          - text: "Attention Is All You Need!"
            href: math_notes/transformers/attention.qmd

toc: true
number-sections: true

diagram: cache:true

format:
  html:
    html-math-method: katex
    filters:
      - callouty-theorem
    toc: true
    toc-location: left

theme:
  light: flatly
  dark: darkly

callouty-theorem:
  lem:
    override-title: false # do not override the title of the callout (title won't show when `appearance` set to `simple` or `minimal`)
    callout: # parameters of the wrapping callout. see Quarto documentation of callouts for more details
      type: note
      appearance: minimal
  exm:
    override-title: false # do not override the title of the callout (title won't show when `appearance` set to `simple` or `minimal`)
    callout: # parameters of the wrapping callout. see Quarto documentation of callouts for more details
      type: note
      appearance: minimal
  thm:
    override-title: false # do not override the title of the callout (title won't show when `appearance` set to `simple` or `minimal`)
    callout: # parameters of the wrapping callout. see Quarto documentation of callouts for more details
      type: note
      appearance: minimal
  prp:
    override-title: false
    callout:
      type: note
      appearance: minimal
  exr:
    override-title: false
    callout:
      type: tip
      appearance: minimal
  proof: # also support wrapping proof-like environments
    override-title: true # override the title of the callout by the name of the theorem
    callout:
      type: note
      appearance: default
      collapse: true
      icon: true
  solution:
    override-title: true
    callout:
      type: note
      appearance: default
      collapse: true
      icon: true
  remark:
    override-title: true
    callout:
      type: tip
      appearance: default
      collapse: false
      icon: true

  # theorems types not specified in the metadata will be rendered as is
  cor: default # calloutify corollaries with default style
  def:
    override-title: false
    callout:
      type: note
      appearance: minimal
