project:
  type: website
  output-dir: docs
  render: 
    - "about.qmd"
    - "math_notes/*"

website:
  title: "Jake Notes"
  open-graph: true

  sidebar:
    style: "docked"
    search: true

    tools:
      - icon: github
        href: https://github.com/JakeRobertBaker
        aria-label: GitHub

      - icon: linkedin
        href: https://www.linkedin.com/in/jake-robert-baker/
        aria-label: LinkedIn

    
    contents:
      - text: "About"
        href: about.qmd
      - section: "Mathematics and Theory"
        contents: 
        - section: "Probability and Statistics"
          contents:
          - text: OLS and ANOVA
            href: math_notes/linear_models/linear_models.qmd        
          - text: Ballot Analysis
            href: math_notes/bayesian_inference/ballot_notes.qmd
        
        - section: "Set Theory"
          contents:
          - text: "Universal Algebra"
            href: math_notes/set_theory/universal_algebra.qmd
      
      - section: "Deep Learning"
        contents: 
        - text: "Attention Is All You Need!"
          href: math_notes/transformers/attention.qmd
        


format:
  html: 
    theme:
      light: [scss_files/actual/flatly_custom.scss, scss_files/actual/light_theorems.scss, scss_files/actual/light_colours.scss]
      dark: [scss_files/actual/darkly_custom.scss, scss_files/actual/dark_theorems.scss, scss_files/actual/dark_colours.scss]
    toc: true
    toc-location: left



