/*-- scss:defaults --*/

// colours defined in dark_colours.scss
$box-shadow-dark: 0 1px 3px rgba(255, 255, 255, 0.1);
$box-shadow-proof: 0 1px 3px rgba(255, 255, 255, 0.1);

// Common box styles
%box-style {
  padding: 1em;
  margin: 1.2em 0;
  border-left: 5px solid;
  border-radius: 8px;
  background-color: $gray-dark;
  box-shadow: $box-shadow-dark;
}

.theorem,
.definition,
.lemma {
  @extend %box-style;
}

.theorem {
  border-color: $indigo;
  background-color: $indigo-dark;
}

.lemma {
  border-color: $green;
  background-color: $green-dark;
}

.definition {
  border-color: $sky;
  background-color: $sky-dark;
}

.proof {
  padding: 1em;
  margin: 1.2em 0;
  border-left: 5px solid $gray;
  border-radius: 8px;
  // background-color: $gray-dark; // Optional, commented in original
  box-shadow: $box-shadow-proof;
  font-style: normal;
}