/*-- scss:defaults --*/

// colours defined in light_colours.scss
$box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.05);
$box-shadow-proof: 0 1px 3px rgba(0, 0, 0, 0.04);

// Common box styles
%box-style {
  padding: 1em;
  margin: 1.2em 0;
  border-left: 5px solid;
  border-radius: 8px;
  background-color: $gray-light;
  box-shadow: $box-shadow-light;
}

.theorem,
.definition,
.lemma {
  @extend %box-style;
}

.theorem {
  border-color: $indigo;
  background-color: $indigo-light;
}

.lemma {
  border-color: $green;
  background-color: $green-light;
}

.definition {
  border-color: $sky;
  background-color: $sky-light;
}

.proof {
  padding: 1em;
  margin: 1.2em 0;
  border-left: 5px solid $gray;
  border-radius: 8px;
  // background-color: $gray-light; // Optional, commented in original
  box-shadow: $box-shadow-proof;
  font-style: normal;
}